.login-button{
  display:flex;
  justify-content: flex-end;
  margin:20px;
  cursor: pointer;
}

.nav-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu{
  display:flex;
  list-style-type: none;
}

.menu li{
  padding:10px;
}

.nav-menu-area{
  display: flex;
  justify-content: center;
}

.search-box{
  position: absolute;
  right:20px;
  padding: 5px;
  border-bottom: 1px solid black;
}
.search-box input{
  border:none;
  margin-left:5px;
}

.search-box input:focus {
  outline:none
}




.card{
  border:none !important; /* border-none이 나중꺼에 덮히지 않게 */
  margin-bottom: 10px;
  cursor: pointer;
}

.card:hover{
  transform: scale(1.1);
}

.choice{
  font-size:11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}
.new-product {
  font-size: 11px;
  height: 30px;
}

.product-img{
  display:flex;
  justify-content: flex-end
}

.drop-down{
  margin-top:20px;
}

.add-button{
  margin-top:20px;
  width: 100%;
}



.product-info{
  font-size: 20px;
  margin-bottom: 10px;
}

.choice{
  font-size:11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}